// bower:scss
// endbower
body {
    color: black;
    margin: 0px;
    min-width: 1020px;
}

a {
      text-decoration: none;  
      color: #4183c5;
}

.wrapper {
    margin: 0px auto;
// margin-right: auto;
// margin-left: auto;
// background-size: 100%;
// width:100%;
//     height:100%;
}

.container {
    margin: 0px auto;
//    margin-right: auto;
// margin-left: auto; 
// background-size: 100%;
// width:100%;
//     height:100%;
    
}

.leftcontainer {
    margin-left: 10px;
}

.topbar {
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    height: 40px;
    min-width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.maincontent {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.sidebar {
    display: inline-block;
    // margin-left: 20px;
    float: left;
    width: 25%;
    height: 800px;
    background: #fff;
}

.avatarimage {
    background-size: cover; 
    border-radius: 7px; 
    background-image: url("https://avatars.githubusercontent.com/u/7440065?");
    // margin-left: 10px;
    width: 230px; 
    height: 230px;
    background-size:100%;
    margin-top: 20px;
}

.rightbar {
    display: inline-block;
    float: left;
    margin-left: 25px;
    width: 70%;
}

.repotop {
    display: inline-block;
    margin-left: 10px;
}

.repofield {
    background: #fff;
    border-top: 1px solid #cacaca;
    max-height: 121px;
}

.repoicon {
    display: inline-block;
    height: 35px;
    width: 39px;
    margin-bottom: 20px;
    margin-top: 16px;
    background: red;
    margin-bottom: 35px;
    float: left;
    background-image: url("../images/book.png");
    background-size: cover;
}

.repostuff {
    display: inline-block;
    float: right;
}

.repotitle {
    display: inline-block;
    background: #fff;
    font-family: Helvetica;
    color: #4183c4;
    text-decoration: none;
    font-size: 20px;
    line-height: 32px; 
    font-weight: bold;
    margin-top: 20px;
}

.repobody {
    display: inline-block;
    margin-left: 50px;
}

.repodescrip {
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
}

.stargazers {
    display: inline-block;
    font-family: Helvetica;
    color: #666666;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    float: right;
    margin-left: 1px;
    margin-top: 33px;
}

.star {
    display: inline-block;
    height:20px;
    width: 20px;
    background-image: url("../images/star.png");
    background-size: cover;
    margin-left: 15px;
    float: right;
    margin-top: 28px;
}
.forks {
   display: inline-block;
    font-family: Helvetica;
    color: #666666;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    margin-top: 33px;
    margin-left: 1px;
    float: right;
    
}

.fork {
    display: inline-block;
    float: right;
    background-image: url("../images/fork.png");
    background-size: cover;
    height:20px;
    width: 20px;
    margin-left: 15px;
    margin-top: 28px;
}

.language {
    display: inline-block;
    font-family: Helvetica;
    color: #666666;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    float: right;
    
    margin-top: 33px;
}
.repoupdatedat {
    display: block;
    font-size: 11px;
    color: #999999;
    line-height: 24px;
    margin-bottom: 14px;
}

.footer {
    display: inline-block;
    height: 100px;
    width: 100%;
    background: #cacaca;
}

.leftname { 
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: 10px;
}

.leftusername { 
    font-size: 19px;
    line-height: 24px;
    font-weight: 300;
    font-family: Helvetica;
    margin-bottom: 15px;
    color: #cacaca;
}

.leftfieldinfo {
    
    font-family: Helvetica;
    padding: 4px 0 2px 4px;
    text-overflow: ellipsis;
    font-size: 14px;  
}

.leftfieldsmallpic {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url("../images/justme.png");
    background-size: cover;  
    margin-right: 5px;
}

.leftfieldsmallpic2 {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url("../images/mapdot.png");
    background-size: cover; 
    margin-right: 5px; 
}

.leftfieldsmallpic3 {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url("../images/maillogo.png");
    background-size: cover; 
    margin-right: 5px; 
}

.leftfieldsmallpic4 {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url("../images/linklogo.png");
    background-size: cover;  
    margin-right: 5px;
}

.leftfieldsmallpic5 {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url("../images/clocklogo.png");
    background-size: cover;  
    margin-right: 5px;  
}

.bottomleftfieldinfo {
    
    font-family: Helvetica;
    padding: 4px 0 2px 4px;
    text-overflow: ellipsis;
    font-size: 14px;  
    margin-bottom: 18px;
}

.leftfieldstats {
    
    font-family: Helvetica;
    padding: 13px 0 2px 4px;
    text-overflow: ellipsis;
    font-size: 14px;  
    border-top: 1px solid #cacaca;
    display: inline-block;
    width: 230px;
    padding-bottom:16px;
    border-bottom: 1px solid #cacaca;

}

.topleftfield {
    
    font-family: Helvetica;
    margin-right: 50px;
    text-overflow: ellipsis;
    font-size: 14px;  
    border-top: 1px solid #cacaca;
    padding-top: 17px;
    width: 230px;
}

.followers {
    display: inline-block;
    float: left;
    margin-left: 10px;
    color: #000000;

    &:hover {
        color: #4183c4;
    }
}

.starred {
    display: inline-block;
    float: left;
    margin-left: 35px;
        &:hover {
        color: #4183c4;
    }
}

.following {
    display: inline-block;
    float: left;
    margin-left: 35px;
        &:hover {
        color: #4183c4;
    }
}

.leftfieldstatsnumber {
    text-align: center;
    font-size: 27px;
    font-family: Helvetica;
    font-weight: bold;
        &:hover {
        color: #4183c4;
    }
}

.leftfieldstatstext {
    font-size: 11px;
    color: #cacaca;
    text-align: center;
    font-family: Helvetica;
        &:hover {
        color: #4183c4;
    }
}
.logo {
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 200px;
    background-image: url("../images/logo.png");
    background-size: cover; 
        &:hover {
                background-image: url("../images/logo-hover.png");

        }
}

.topbar-container {
    display: inline-block;
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.topbar-dot {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 0px;
    border-right: 1px solid #cacaca; 
    border-left: 1px solid #cacaca;
    margin-left: 15px;
    margin-right: 15px;
    background-image: url("../images/dot.png");
    background-repeat: no-repeat;
    background-position: center center;
        &:hover {
                background-image: url("../images/dot-hover.png");

        }
}

.search {
    float: left;
    margin-top: 5px;
    display: inline-block;
}

.search-query {
    display: inline-block;
    width: 208px;
    height: 27px;
    margin-top: 0px;
    border-radius: 5px;
    color: #cacaca;
    font-family: Helvetica;
    font-size: 12px;
    padding-left: 8px;
}

.explore {
    display: inline-block;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 10px;
    height: 40px;
    &:hover {
    color: #4183c4;
    }
}

.gist { 
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 10px;
    height: 40px;
    &:hover {
    color: #4183c4;
    }
}

.blog {
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 10px;
    height: 40px;
    &:hover {
    color: #4183c4;
    }
}

.help {
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 10px;
    height: 40px;
    &:hover {
    color: #4183c4;
    }
}

.door {
    display: inline-block;
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-right: 180px;
    background-image: url("../images/door.png");
    background-repeat: no-repeat;
        &:hover {
                background-image: url("../images/door-hover.png");
        }
}

.tool {
    display: inline-block;
    float: right;
    height: 40px;
    width: 40px;
    margin-right: -12px;
    margin-top: 10px;
    background-image: url("../images/tool.png");
    background-repeat: no-repeat;
        &:hover {
                background-image: url("../images/tool-hover.png");
        }
}

.plus {
    display: inline-block;
    color: #000000;
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: -10px;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
        &:hover {
            background-image: url("../images/plus-hover.png");
        }
}

.topuserfield {
    display: inline-block;
    float: right;
}

.topusername {
    display: inline-block;
    float: right;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 12px;
    margin-left: -5px;
    padding-left: 10px;
    height: 40px;
    &:hover {
    color: #4183c4;
    }
}

.topavatar {
    display: inline-block;
    float: right;
    background-size: cover; 
    border-radius: 3px; 
    background-image: url("https://avatars.githubusercontent.com/u/7440065?");
    // margin-left: 10px;
    width: 20px; 
    height: 20px;
    margin-left: 10px;
    background-size:100%;
    margin-top: 10px;
}