body {
  margin: 0px;
  min-width: 1020px;
  color: black; }

a {
  text-decoration: none;
  color: #4183c5; }

.wrapper {
  margin: 0px auto;
  margin-right: auto;
  margin-left: auto; }

.container {
  margin: 0px auto;
  margin-right: auto;
  margin-left: auto; }

.leftcontainer {
  margin-left: 10px; }

.topbar {
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  margin-right: auto;
  margin-left: auto;
  min-width: 1020px;
  height: 40px; }

.maincontent {
  margin-right: auto;
  margin-left: auto;
  width: 1020px; }

.sidebar {
  display: inline-block;
  float: left;
  background: #fff;
  width: 25%;
  height: 800px; }

.avatarimage {
  margin-top: 20px;
  background-size: 100%;
  background-size: cover;
  background-image: url("https://avatars.githubusercontent.com/u/7440065?");
  width: 230px;
  height: 230px;
  border-radius: 7px; }

.rightbar {
  display: inline-block;
  float: left;
  margin-left: 5px;
  width: 70%; }

.repotop {
  display: inline-block;
  margin-left: 10px; }

.repofield {
  background: #fff;
  border-top: 1px solid #cacaca;
  max-height: 121px; }

.repoicon {
  display: inline-block;
  float: left;
  background-image: url("../images/book.png");
  background-size: cover;
  margin-top: 16px;
  margin-bottom: 35px;
  height: 35px;
  width: 39px; }

.repostuff {
  display: inline-block;
  float: right; }

.repotitle {
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  color: #4183c4;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px; }

.repobody {
  display: inline-block;
  margin-left: 50px; }

.repodescrip {
  display: block;
  color: #333333;
  font-size: 13px;
  line-height: 20px; }

.stargazers {
  display: inline-block;
  float: right;
  margin-left: 1px;
  margin-top: 33px;
  color: #666666;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold; }

.star {
  display: inline-block;
  float: right;
  background-image: url("../images/star.png");
  background-size: cover;
  margin-left: 15px;
  margin-top: 28px;
  height: 20px;
  width: 20px; }

.forks {
  display: inline-block;
  float: right;
  margin-top: 33px;
  margin-left: 1px;
  color: #666666;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold; }

.fork {
  display: inline-block;
  float: right;
  background-image: url("../images/fork.png");
  background-size: cover;
  margin-left: 15px;
  margin-top: 28px;
  height: 20px;
  width: 20px; }

.language {
  display: inline-block;
  float: right;
  margin-top: 33px;
  color: #666666;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold; }

.repoupdatedat {
  display: block;
  margin-bottom: 14px;
  color: #999999;
  font-size: 11px;
  line-height: 24px; }

.footer {
  display: inline-block;
  margin-left: 100px;
  max-width: 1080px;
  border-top: 1px solid #cacaca;
  height: 100px;
  width: 100%; }

.leftname {
  margin-top: 10px;
  line-height: 30px;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 26px; }

.leftusername {
  margin-bottom: 15px;
  color: #cacaca;
  line-height: 24px;
  font-weight: 300;
  font-family: Helvetica;
  font-size: 19px; }

.leftfieldinfo {
  padding: 4px 0 2px 4px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Helvetica; }

.leftfieldsmallpic {
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-image: url("../images/justme.png");
  background-size: cover;
  height: 20px;
  width: 20px; }

.leftfieldsmallpic2 {
  display: inline-block;
  margin-right: 5px;
  background-image: url("../images/mapdot.png");
  background-size: cover;
  height: 20px;
  width: 20px;
  float: left; }

.leftfieldsmallpic3 {
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-image: url("../images/maillogo.png");
  background-size: cover;
  height: 20px;
  width: 20px; }

.leftfieldsmallpic4 {
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-image: url("../images/linklogo.png");
  background-size: cover;
  height: 20px;
  width: 20px; }

.leftfieldsmallpic5 {
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-image: url("../images/clocklogo.png");
  background-size: cover;
  height: 20px;
  width: 20px; }

.bottomleftfieldinfo {
  margin-bottom: 18px;
  padding: 4px 0 2px 4px;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 14px; }

.leftfieldstats {
  display: inline-block;
  padding-bottom: 16px;
  padding: 13px 0 2px 4px;
  font-size: 14px;
  font-family: Helvetica;
  text-overflow: ellipsis;
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
  width: 230px; }

.topleftfield {
  margin-right: 50px;
  border-top: 1px solid #cacaca;
  padding-top: 17px;
  font-family: Helvetica;
  font-size: 14px;
  text-overflow: ellipsis;
  width: 230px; }

.followers {
  display: inline-block;
  float: left;
  margin-left: 10px;
  color: #000000; }
  .followers:hover {
    color: #4183c4; }

.starred {
  display: inline-block;
  float: left;
  margin-left: 35px; }
  .starred:hover {
    color: #4183c4; }

.following {
  display: inline-block;
  float: left;
  margin-left: 35px; }
  .following:hover {
    color: #4183c4; }

.leftfieldstatsnumber {
  text-align: center;
  font-size: 27px;
  font-family: Helvetica;
  font-weight: bold; }
  .leftfieldstatsnumber:hover {
    color: #4183c4; }

.leftfieldstatstext {
  color: #cacaca;
  text-align: center;
  font-family: Helvetica;
  font-size: 11px; }
  .leftfieldstatstext:hover {
    color: #4183c4; }

.logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin-top: 5px;
  margin-left: 200px;
  background-image: url("../images/logo.png");
  background-size: cover; }
  .logo:hover {
    background-image: url("../images/logo-hover.png"); }

.topbar-container {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 1020px; }

.topbar-dot {
  display: inline-block;
  float: left;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  background-image: url("../images/dot.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 40px; }
  .topbar-dot:hover {
    background-image: url("../images/dot-hover.png"); }

.search {
  float: left;
  margin-top: 5px;
  display: inline-block; }

.search-query {
  display: inline-block;
  margin-top: 0px;
  padding-left: 8px;
  width: 208px;
  height: 27px;
  border-radius: 5px;
  color: #cacaca;
  font-family: Helvetica;
  font-size: 12px; }

.explore {
  display: inline-block;
  margin-top: 15px;
  padding-left: 10px;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  height: 40px; }
  .explore:hover {
    color: #4183c4; }

.gist {
  display: inline-block;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 10px;
  height: 40px; }
  .gist:hover {
    color: #4183c4; }

.blog {
  display: inline-block;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 10px;
  height: 40px; }
  .blog:hover {
    color: #4183c4; }

.help {
  display: inline-block;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 10px;
  height: 40px; }
  .help:hover {
    color: #4183c4; }

.door {
  display: inline-block;
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 180px;
  background-image: url("../images/door.png");
  background-repeat: no-repeat; }
  .door:hover {
    background-image: url("../images/door-hover.png"); }

.tool {
  display: inline-block;
  float: right;
  height: 40px;
  width: 40px;
  margin-right: -12px;
  margin-top: 10px;
  background-image: url("../images/tool.png");
  background-repeat: no-repeat; }
  .tool:hover {
    background-image: url("../images/tool-hover.png"); }

.plus {
  display: inline-block;
  color: #000000;
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: -10px;
  background-image: url("../images/plus.png");
  background-repeat: no-repeat; }
  .plus:hover {
    background-image: url("../images/plus-hover.png"); }

.topuserfield {
  display: inline-block;
  float: right; }

.topusername {
  display: inline-block;
  float: right;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 12px;
  margin-left: -5px;
  padding-left: 10px;
  height: 40px; }
  .topusername:hover {
    color: #4183c4; }

.topavatar {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  background-size: cover;
  background-size: 100%;
  background-image: url("https://avatars.githubusercontent.com/u/7440065?");
  border-radius: 3px;
  width: 20px;
  height: 20px; }

.footerLeft {
  float: left;
  margin-top: 38px;
  color: #4183c4;
  font-size: 12px;
  font-family: Helvetica;
  line-height: 24px; }
  .footerLeft ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .footerLeft li {
    display: inline;
    padding-right: 10px; }

.footerRight {
  float: right;
  margin-top: 38px;
  color: #4183c4;
  font-size: 12px;
  font-family: Helvetica;
  line-height: 24px; }
  .footerRight ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .footerRight li {
    display: inline;
    padding-left: 10px; }

.copyright {
  display: inline-block;
  float: left;
  margin-top: 38px;
  margin-bottom: 14px;
  margin-right: 20px;
  margin-left: 20px;
  color: #979797;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 24px; }
